
.vs/config/applicationhost.config
.vs/NorthwindProjects/v15/.suo
.vs/NorthwindProjects/v15/Server/sqlite3/db.lock
.vs/NorthwindProjects/v15/Server/sqlite3/storage.ide
.vs/NorthwindProjects/v15/Server/sqlite3/storage.ide-shm
.vs/NorthwindProjects/v15/Server/sqlite3/storage.ide-wal
NorthwindBusiness/obj/Debug/NorthwindBusiness.csprojAssemblyReference.cache
NorthwindBusiness/obj/Debug/NorthwindBusiness.csprojAssemblyReference.cache
NorthwindWebForm/NorthwindWebForm/bin/NorthwindBusiness.dll
NorthwindDbDAOLibrary/NorthwindDAOLibrary/bin/Debug/NorthwindDAOLibrary.dll
NorthwindBusiness/obj/Debug/NorthwindBusiness.pdb
NorthwindBusiness/obj/Debug/NorthwindBusiness.dll
