<div>PRODUCT LIST BY CATEGORY</div>
<div style="overflow: auto; height:400px;">
    <table id="tableRight" border="1" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr style="height:25px;">
                <th>ProductID</th>
                <th>ProductName</th>
                <th>UnitPrice</th>
            </tr>
        </thead>
        <tbody id="tableRightBody" style="overflow: auto;  height: 200px;"></tbody>
    </table>
</div>
